<div class="container">
    
    <% provide(:title, "Home") %>

    <h1 class="center">
        hello from url shortner this is jeff speaking
    </h1>

    <p>
        you know the drill. enter a long url, get a short url. use the form below.
    </p>

    <%= form_for @url do |f| %>
        <div class="input-field col s12">
            
            <%= f.url_field :url %>
            <%= f.label :url %>
        </div>
        <div class="input-field col s12">
            <%= f.submit 'Submit', class: 'waves-effect waves-light btn' %>
        </div>
    <% end %>

</div>

