

<nav>
    <div class="nav-wrapper">
        <div class="container">
            <a href="#" class="brand-logo">ShortJeff</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><%= link_to "URLs", urls_path %></li>
                <% if logged_in? %>
                    <li><%= link_to current_user.name, user_path(current_user) %></li>
                    <li><%= link_to 'log out', logout_path, method: :delete %></li>
                <% else %>
                    <li><%= link_to "log in", login_path %></li>
                <% end %>
            </ul>
        </div>
    </div>
</nav>